<button class="btn btn-outline-secondary addLabel"
        type="button"
        data-toggle="modal"
        data-order-id="{{ idOrder }}"
        data-label-options='{{ labelOptions|raw }}'{# Single quotes to allow json format #}
        data-allow-set-only-recipient="{{ allowSetOnlyRecipient|number_format }}"
        data-allow-set-signature="{{ allowSetSignature|number_format }}"
        data-target="#create"
>
    <i class="material-icons"> label</i>
    {{ 'Create'|trans({}, 'Admin.Actions') }}
</button>
